.englobMenu{
  z-index: 4000;
  position: fixed;
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 2px 12px black;
  background: linear-gradient(109.6deg, rgba(0, 0, 0, 0.93) 11.2%, rgb(63, 61, 61) 78.9%);
}
.englobCadastro{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48%;
  height: 100%;
  margin-left: 52%;

}
.cadastro{
  color: white;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 50%;
  width: 60%;
  align-items: center;
  opacity: 0;
  transform: translateY(20px);
  animation: textos 1s forwards;
}
.attCadastro{
  display: flex;
  flex-direction: column;
  height: 50%;
  justify-content: space-around;
  width: 80%;
}
.englobAllCadastro{
  width: 100vw;
  height: 100vh;
  background: url('./img/cadastro.png');
}
.linkCadastro{
  color: white;
  text-decoration: none;
  transition: all 0.5s ease;
}
.linkCadastro:hover{
  color: #acb7b9;
 
}
.attLogin{
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
#loginH1{
  margin-bottom: 20px;
  font-size: 35px;
  font-family: "Prosto One", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}
.login{
  color: white;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 50%;
  width: 60%;
  align-items: center;
}
.englobLogin{
  opacity: 0;
  transform: translateY(-20px);
  width: 52%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: textos 1s forwards;
}
.englobAllLogin{
  width: 100vw;
  height: 100vh;
  background: url('./img/Login.png');
}
.logout{
  width: 110%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.loginBotao{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  width: 105%;
  padding: 12px;
  border-radius: 60px;

 
}
.loginBotao:hover{
  background-color: #161618;
  box-shadow: 0 0 12px rgb(54, 54, 54);
  transition: all 0.5s ease;
  cursor: pointer;
}
.imgFooter{
  transition: all 0.5s ease;
  width: 40px;
  height: 40px;
}
.imgFooter:hover{
  transform: scale(1.1);
  cursor: pointer;
}
  
.resPerg{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 50vh;
  width: 100vw;
  background: linear-gradient(109.6deg, rgba(0, 0, 0, 0.93) 11.2%, rgb(63, 61, 61) 78.9%);
}
#Ph2{
  margin-top: 20px;
  font-size: 35px;
  color: white;
  font-family: "Prosto One", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}
#Ph3{
  font-size: 20px;
  color: white;
 width: 90%;
 height: 70%;
text-align: center;
}
.englobFooter{
  width: 100vw;
  height: 40vh;
  background-color: #161618;
  box-shadow: 0 0 14px rgb(65, 65, 65);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.englobImages{
  
  width: 10vw;
  height: 10vh;
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}
.infosInferior{
  display: flex;
  justify-content: space-between;
  width: 90vw;
}
                    
.englobLinksInf{
  display: flex;
  width: 30vw;
  justify-content: space-around;
}


#linhaFooter{
  color: rgb(168, 168, 168);
  width: 90vw;
  margin-bottom: 40px;
}
.englobMask{
  height: 10vh;
}

.imgInicio{
  transform: translateX(-20px);
  height: 50%;
  margin-left: -50%;
  border-radius: 20px;
  width: 55%;
  opacity: 0;
 animation: imsInicioLA 1s forwards;
}
@keyframes imsInicioLA {
  to{
    transform: translateX(0px);
   opacity: 1;
  }
}
#slaImg{
  margin-left: 40%;
  margin-top: -5%;
  width: 55%;
  height: 50%;
  z-index: 50000;
}
.imgsInicio{
  margin-right: -2%;
  width: 50%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}
.englobinicio{
 
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
* {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  margin: 0;
  padding: 0;
}
.infosInicio{
 
  color: white;
  font-size: 20px;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}
.infosInicio h1,
.infosInicio p {
  opacity: 0;
  transform: translateX(20px);
  animation: textos 1s forwards;
}



.infosInicio>h1{
  font-size: 70px;
  font-family: "Prosto One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
body{
  background: linear-gradient(109.6deg, rgba(0, 0, 0, 0.93) 11.2%, rgb(63, 61, 61) 78.9%);
  width: 100vw;
  height: 100vh;
}
.menu{
  
 
  width: 50vw;
  display: flex;
  justify-content: space-around;
}
.linkMenu{
  padding: 10px;
  color: white;
  border-bottom: 2px solid transparent;
  text-decoration: none;
  transition: 0.5s ease;
}
.linkMenu:hover{
  border-bottom: 2px solid white;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.linhaDef{
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-around;
}
.englobImgs{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imgLinhaDef{
  opacity: 0;
  border-radius: 500px;
  width: 65%;
  height: 65%;
  transform: translateX(20px);
  animation: imsInicioLA 1s forwards;
}
.englobP{
  transform: translateX(-20px);
  opacity: 0;
  animation: textos 1s forwards;
  color: white;
  width: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

}
.engloballContent{
  margin-top: -58px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 81vh;
  
  
}
#imgImpactos{
  transform: translateX(-20px);
  border-radius: 10px;
  box-shadow: 0 0 18px rgb(22, 22, 22);
  animation: img 1s forwards;
  background-color: #37383a;
}

.englobPs{
  width: 40%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 50%;
}
#comoAfeta{
  transform: translateY(-20px);
  opacity: 0;
  animation: textos 1s forwards;
  margin-top: 70px;
  width: 100%;
  color: white;
  text-align: center;
  font-size: 60px;
  font-family: "Prosto One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
#comoAfeta2{
  transform: translateY(-20px);
  opacity: 0;
  animation: textos 1s forwards;
  padding-top: 70px;
  width: 100%;
  color: white;
  text-align: start;
  margin-left: 5vw;
  font-size: 60px;
  font-family: "Prosto One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.englobMedidasG{
  
  padding-top: 4%;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;

}
.itemM{
  opacity: 0;
  transform: translateX(-40px);
  animation: textos 1s forwards;
 padding-left: 10%;
  
  max-width: 90%;
  height: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.itemM:hover{


  transform: scale(1.02);
  transition: all 0.5s ease;
  box-shadow: 0 0 12px rgb(54, 54, 54);
}
.itemM>p{
  color: white;
  width: 90%;
}
.imgitem{
  box-shadow: 0 0 7px black;
  height: 120px;
  width: 120px;
  overflow-x: hidden;
  overflow-y: hidden;
  border-radius: 60%;
}
.englobinicioPerigos{
  width: 100vw;
  height: 90vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}
.textsPerigos{
  color: white;
  opacity: 0;
  transform: translateX(-20px);
  width: 40%;
  height: 16%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  animation: textos 1s forwards;
}
#textP{
  font-size: 19px;
}
#perigosT{
  font-size: 70px;
  font-family: "Prosto One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.slaEnglob{
  box-shadow: 0 0 19px rgb(29, 29, 29);
  background: linear-gradient(109.6deg, rgba(0, 0, 0, 0.93) 11.2%, rgb(63, 61, 61) 78.9%);
}
#inPer{
  font-size: 24px;
  font-family: "Prosto One", sans-serif;
  text-align: center;
}
.Perigos{
  box-shadow: 0 0 16px rgb(29, 29, 29);
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 80px;
  background: linear-gradient(109.6deg, rgba(0, 0, 0, 0.93) 11.2%, rgb(63, 61, 61) 78.9%);
}
.imgPerigoInfo{
  width: 50%;
  height: 40%;
  border-radius: 60%;
}
.pergunta{
  color: rgb(82, 77, 77);
}
#Ph1{
  font-size: 35px;
  color: white;
  font-family: "Prosto One", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}
.englobPerguntas{
  opacity: 0;
  transform: translateY(-50px);
  width: 100vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  animation: textos 1s forwards;
 
}
.infoPerigo{
  width: 25%;
  margin: 4%;
  height: 60vh;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: white;
  box-shadow: 0 0 7px black;
}
.infoPerigo:hover{
  transform: scale(1.02);
  transition: all 0.5s ease;
  box-shadow: 0 0 12px rgb(54, 54, 54);
}
.infoPerigo>p{
  text-align: center;
  width: 90%;
}
.imgPerigosInicio{
  width: 600px;
  height: 600px;
  border-radius: 60%;
  animation: textos 1s forwards;
  transform: translateY(-20px);
  opacity: 0;
  box-shadow: 0 0 12px rgb(18, 9, 59);
}
.englobPs>p{
  font-size: 18px;
  opacity: 0;
  width: 80%;
  transform: translateX(20px);
  animation: textos 1s forwards;
  text-align: center;
}
#finalImg{
  height: 55vh;
  width: 100%;
  overflow-y: hidden;
}
.englobP>p{
  
  width: 60%;
  font-size: 21px;
}
.imgrow{
  transform: translateY(-20px);
  height: 130%;
  width: 100%;
  z-index: -1;
  animation: img 1s forwards;
}
.linhaDois{
  height: 100vh;
  width: 100vw;
}
@keyframes img {
 
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
.englobOqueE{
  width: 100vw;
  height: 90vh;
  display: flex;
  overflow-y: hidden;
}
.textoT{
  position: absolute;
  font-size: 52px;
  font-family: "Prosto One", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 21%;
  margin-left: 2%;
  border: 2px solid white;
  padding: 20px;
  border-radius: 40px;
  animation: textoT 1s forwards;
}
@keyframes textoT {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
  
}
.linhaUm{
  
  color: white;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;


}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body{
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
}

@keyframes textos {
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}